# BYTE-COMPILED / OPTIMIZED / DLL FILES
__pycache__/
*.py[codz]
*$py.class
*.pyc
*.pyo
*.pyd

# C EXTENSIONS
*.so

# DISTRIBUTION / PACKAGING
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PYINSTALLER
#  USUALLY THESE FILES ARE WRITTEN BY A PYTHON SCRIPT FROM A TEMPLATE
#  BEFORE PYINSTALLER BUILDS THE EXE, SO AS TO INJECT DATE/OTHER INFOS INTO IT.
*.manifest
*.spec

# INSTALLER LOGS
pip-log.txt
pip-delete-this-directory.txt

# UNIT TEST / COVERAGE REPORTS
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# TRANSLATIONS
*.mo
*.pot

# DJANGO STUFF:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# FLASK STUFF:
instance/
.webassets-cache

# SCRAPY STUFF:
.scrapy

# SPHINX DOCUMENTATION
docs/_build/

# PYBUILDER
.pybuilder/
target/

# JUPYTER NOTEBOOK
.ipynb_checkpoints

# IPYTHON
profile_default/
ipython_config.py

# PYENV
#   FOR A LIBRARY OR PACKAGE, YOU MIGHT WANT TO IGNORE THESE FILES SINCE THE CODE IS
#   INTENDED TO RUN IN MULTIPLE ENVIRONMENTS; OTHERWISE, CHECK THEM IN:
# .PYTHON-VERSION

# PIPENV
#   ACCORDING TO PYPA/PIPENV#598, IT IS RECOMMENDED TO INCLUDE PIPFILE.LOCK IN VERSION CONTROL.
#   HOWEVER, IN CASE OF COLLABORATION, IF HAVING PLATFORM-SPECIFIC DEPENDENCIES OR DEPENDENCIES
#   HAVING NO CROSS-PLATFORM SUPPORT, PIPENV MAY INSTALL DEPENDENCIES THAT DON'T WORK, OR NOT
#   INSTALL ALL NEEDED DEPENDENCIES.
#PIPFILE.LOCK

# UV
#   SIMILAR TO PIPFILE.LOCK, IT IS GENERALLY RECOMMENDED TO INCLUDE UV.LOCK IN VERSION CONTROL.
#   THIS IS ESPECIALLY RECOMMENDED FOR BINARY PACKAGES TO ENSURE REPRODUCIBILITY, AND IS MORE
#   COMMONLY IGNORED FOR LIBRARIES.
#UV.LOCK

# POETRY
#   SIMILAR TO PIPFILE.LOCK, IT IS GENERALLY RECOMMENDED TO INCLUDE POETRY.LOCK IN VERSION CONTROL.
#   THIS IS ESPECIALLY RECOMMENDED FOR BINARY PACKAGES TO ENSURE REPRODUCIBILITY, AND IS MORE
#   COMMONLY IGNORED FOR LIBRARIES.
#   HTTPS://PYTHON-POETRY.ORG/DOCS/BASIC-USAGE/#COMMIT-YOUR-POETRYLOCK-FILE-TO-VERSION-CONTROL
#POETRY.LOCK
#POETRY.TOML

# PDM
#   SIMILAR TO PIPFILE.LOCK, IT IS GENERALLY RECOMMENDED TO INCLUDE PDM.LOCK IN VERSION CONTROL.
#   PDM RECOMMENDS INCLUDING PROJECT-WIDE CONFIGURATION IN PDM.TOML, BUT EXCLUDING .PDM-PYTHON.
#   HTTPS://PDM-PROJECT.ORG/EN/LATEST/USAGE/PROJECT/#WORKING-WITH-VERSION-CONTROL
#PDM.LOCK
#PDM.TOML
.pdm-python
.pdm-build/

# PIXI
#   SIMILAR TO PIPFILE.LOCK, IT IS GENERALLY RECOMMENDED TO INCLUDE PIXI.LOCK IN VERSION CONTROL.
#PIXI.LOCK
#   PIXI CREATES A VIRTUAL ENVIRONMENT IN THE .PIXI DIRECTORY, JUST LIKE VENV MODULE CREATES ONE
#   IN THE .VENV DIRECTORY. IT IS RECOMMENDED NOT TO INCLUDE THIS DIRECTORY IN VERSION CONTROL.
.pixi

# PEP 582; USED BY E.G. GITHUB.COM/DAVID-OCONNOR/PYFLOW AND GITHUB.COM/PDM-PROJECT/PDM
__pypackages__/

# CELERY STUFF
celerybeat-schedule
celerybeat.pid

# SAGEMATH PARSED FILES
*.sage.py

# ENVIRONMENTS
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SPYDER PROJECT SETTINGS
.spyderproject
.spyproject

# ROPE PROJECT SETTINGS
.ropeproject

# MKDOCS DOCUMENTATION
/site

# MYPY
.mypy_cache/
.dmypy.json
dmypy.json

# PYRE TYPE CHECKER
.pyre/

# PYTYPE STATIC TYPE ANALYZER
.pytype/

# CYTHON DEBUG SYMBOLS
cython_debug/

# PYCHARM
#  JETBRAINS SPECIFIC TEMPLATE IS MAINTAINED IN A SEPARATE JETBRAINS.GITIGNORE THAT CAN
#  BE FOUND AT HTTPS://GITHUB.COM/GITHUB/GITIGNORE/BLOB/MAIN/GLOBAL/JETBRAINS.GITIGNORE
#  AND CAN BE ADDED TO THE GLOBAL GITIGNORE OR MERGED INTO THIS FILE.  FOR A MORE NUCLEAR
#  OPTION (NOT RECOMMENDED) YOU CAN UNCOMMENT THE FOLLOWING TO IGNORE THE ENTIRE IDEA FOLDER.
#.IDEA/

# ABSTRA
# ABSTRA IS AN AI-POWERED PROCESS AUTOMATION FRAMEWORK.
# IGNORE DIRECTORIES CONTAINING USER CREDENTIALS, LOCAL STATE, AND SETTINGS.
# LEARN MORE AT HTTPS://ABSTRA.IO/DOCS
.abstra/

# VISUAL STUDIO CODE
#  VISUAL STUDIO CODE SPECIFIC TEMPLATE IS MAINTAINED IN A SEPARATE VISUALSTUDIOCODE.GITIGNORE 
#  THAT CAN BE FOUND AT HTTPS://GITHUB.COM/GITHUB/GITIGNORE/BLOB/MAIN/GLOBAL/VISUALSTUDIOCODE.GITIGNORE
#  AND CAN BE ADDED TO THE GLOBAL GITIGNORE OR MERGED INTO THIS FILE. HOWEVER, IF YOU PREFER, 
#  YOU COULD UNCOMMENT THE FOLLOWING TO IGNORE THE ENTIRE VSCODE FOLDER
# .VSCODE/

# RUFF STUFF:
.ruff_cache/

# PYPI CONFIGURATION FILE
.pypirc

# CURSOR
#  CURSOR IS AN AI-POWERED CODE EDITOR. `.CURSORIGNORE` SPECIFIES FILES/DIRECTORIES TO
#  EXCLUDE FROM AI FEATURES LIKE AUTOCOMPLETE AND CODE ANALYSIS. RECOMMENDED FOR SENSITIVE DATA
#  REFER TO HTTPS://DOCS.CURSOR.COM/CONTEXT/IGNORE-FILES
.cursorignore
.cursorindexingignore

# MARIMO
marimo/_static/
marimo/_lsp/
__marimo__/

# IGNORE LOCAL DATA FILES
data/
*.csv
*.gz
*.csv.gz


# IGNORE OS-SPECIFIC FILES

.DS_Store
Thumbs.db

# IGNORE SQL FILES
*.sql

# IGNORE RSA KEY FILES
snowflake_private_key.p8
# SNOWFLAKE_PUBLIC_KEY.PUB

